/* Container for the entire page */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #293528f3;
    background-image: url('../../assets/images/Profile.jpg');
    background-size: 50%;
    background-repeat: repeat;
    background-position: center;
    background-blend-mode: multiply;
    font-family: Arial, sans-serif;
  }
  
  /* Form container styling */
  .formContainer {
    width: 400px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    padding: 30px;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  /* Profile header */
  .profileHeader {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #333;
    margin: 0 auto 10px;
  }
  
  .profileHeader h2 {
    font-size: 24px;
    margin: 10px 0;
  }
  
  /* Title styling */
  .container .title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #44c767;
    text-decoration: underline;
  }
  
  /* Input group for labels and inputs */
  .inputGroup {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .inputGroup label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: white;
  }
  
  .inputGroup input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: white;
  }
  
  .inputGroup input:focus {
    outline: none;
    border: 1px solid #44c767;
  }

  hr.solid {
    border-top: 2px solid #2ad81d;
  }
  
  /* Buttons container */
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .saveButton {
    padding: 10px 20px;
    background: #44c767;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .saveButton:hover {
    background: #36a356;
  }
  
  .cancelButton {
    padding: 10px 20px;
    background: gray;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .cancelButton:hover {
    background: darkgray;
  }
  
  /* Error/Success Message Styling */
  .message {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .errorMessage {
    color: red;
  }
  
  .successMessage {
    color: lightgreen;
  }
  