.AiBg {
    background: linear-gradient(10deg, #46bc6866, #3d4942d7);
    height: 125vh; 
    display: flex; 
    justify-content: center;
    overflow: hidden;
    padding: 10px;
}

.container {
    height: 110vh;
    width: 65vw; 
    border-radius: 10px; 
    overflow: hidden; 
    position: relative;
    margin-top: 40px;
}

.textContainer {
    margin-bottom: 20px;
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 35px;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.space {
    display: inline-block;
    width: 10px; 
}

.title2 {
    font-weight: bold;
    font-size: 35px;
    color: #12b42f;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.subtitle {
    font-size: 14px;
    color: #ffffff; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
  iframe {
    width: 101.2%;
    height: 88%;
    border-radius: 20px;
  }

/* Media Query for Devices Smaller Than 768px */
@media screen and (max-width: 768px) {
    .AiBg {
        padding: 20px; /* Add more padding for smaller devices */
    }

    .container {
        width: 100%; /* Full width for smaller devices */
        height: auto; /* Let the height adjust dynamically */
    }

    .title, .title2 {
        font-size: 30px; /* Reduce title font size */
    }

    .subtitle {
        font-size: 15px; /* Further reduce subtitle font size */
    }

    iframe {
        height: 60vh; /* Reduce iframe height for smaller devices */
    }
}

/* Media Query for Very Small Devices (< 480px) */
@media screen and (max-width: 480px) {
    .AiBg {
        height: 100vh; 
        padding: 20px;
    }
    .container {
        height: 110vh;
        margin-top: 20px;
    }

    .title, .title2 {
        font-size: 25px; /* Further reduce title font size */
    }

    .subtitle {
        font-size: 10px; /* Further reduce subtitle font size */
    }

    iframe {
        height: 77vh; /* Reduce iframe height */
    }
}